header {
  padding: 22px 16px;
  background-color: var(--background-primary);
  border-bottom: 1px solid var(--mauve-a6);

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--text-primary);
    line-height: 100%;
  }
  
  button {
    width: 64px;
    height: 48px;
  }

  .content-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1366px;
  }
}